In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
# Create engine for PostgreSQL connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [2]:
# Read parquet file using pyarrow engine and transforming it into a pandas dataframe
ny_df = pd.read_parquet('/Users/gonzo/Desktop/de_bootcamp/week_1/local/dataset/yellow_tripdata_2022-01.parquet', engine='pyarrow')

In [4]:
# Create schema for table
print(pd.io.sql.get_schema(ny_df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [33]:
# Insert schema of our table inside our database with the headers
# Get inside docker container
# PSQL -d ny_taxi
# \dt
# \d yellow_taxi_data
ny_df.head(n=0).to_sql(name='yellow_taxi_data',
             con=engine,
             if_exists='append',
             chunksize=100_000)

0

In [ ]:
ny_df.to_sql(name='yellow_taxi_data',
             con=engine,
             if_exists='append',
             chunksize=100_000)